body {margin:0;}

* {
    box-sizing: border-box;
}

body {
  background-color: #edeef2;
}

.page {
  /* margin-left: px; */
  height: 500px;
}

.row {
  margin-top: 20px;
  margin-left: 17px;
  margin-right: 17px;
  background-color: #ffffff;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 15px;
  background: #0a1d3d;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  font-size: 17px;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 15px;
}

.btn:hover {
  opacity: 1;
}

.heading1 {
  font-size: 25px;
  font-family: Arial;
}

.border {
  border-style: solid;
  border-color: #0a1d3d;
}

.column.middleimg {
    width: 30%;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.column.middlecontent {
    width: 70%;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

#details {
  border-collapse: collapse;
  width: 100%;
}

/* DROPDOWN */

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  width: 100%;
  border-style: solid;
  border-width: 0.5px;
  font-size: 17px;
  outline: none;
  padding-top: 5px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 8px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
  vertical-align: top;
}
/*style items (options):*/
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: white;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Map styling */
#map {
  height: 300px;
  width: 100%;
}
/* The location pointed to by the popup tip. */
.popup-tip-anchor {
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}
/* The bubble is anchored above the tip. */
.popup-bubble-anchor {
  position: absolute;
  width: 100%;
  bottom: /* TIP_HEIGHT= */ 8px;
  left: 0;
}
/* Draw the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: /* TIP_HEIGHT= */ 8px solid white;
}
/* The popup bubble itself. */
.popup-bubble-content {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  /* Style the info window. */
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 20px;
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
}
